form{

    background-color: green;


}

section{


    background-color: yellow;

}

ul{

    border: solid pink 1px;

}

h1{

    border: solid brown 1px;

}

div{

    border: solid  black 1px;

}

