body{

    background-color: #cdca8a;
}

#containerGiant{

    background-color: #edffe7;
}

form{

    max-height: 70vh;
}

section, form, .welcomeHolder{

    background-color: #9ddddb;
}

h1{

    background-color: #e1cbdc;
}

li{

    background-color: #f5bbbb;
}

h1, li, .club{

    border: solid black 1px;
}

.club{

    min-height: 40%;
}

ul, li {

    list-style: none;
    margin: 0;
    padding: 0;
}

section{

    min-height: 85vh;
}

.welcomeHolder{

    margin-top: -7%;
}

#popUp{

    display: none;
    background-color: #a96e9d;
    position: absolute;
}

.welcomeMessage{

    background-color: transparent;
    border: none;
}

dialog{

    background-color: #a96e9d;
}

.radio input, .radio label, .student{

    cursor: pointer;
}

.student{

    opacity: .80;
}

.student:hover{

    opacity: 1;
}

@media screen and (max-width:767px){

    .welcomeHolder{

        margin: 0;
    }

    #form, #clubMemberSection, .welcomeHolder{

        margin: 0 auto;
    }

    #popUp{

        position: sticky;
        top: 5px;
    }   
}
