form{

    background-color: green;
    max-height: 70vh;

}

section{


    background-color: yellow;

}

ul{

    border: solid pink 1px;

}

h1{

    border: solid brown 1px;

}

li{

    border: solid purple 2px;

}

.club{

    min-height: 40%;
    border: solid brown 2px;


}

ul, li {

    list-style: none;
    margin: 0;
    padding: 0;


}

section{

    min-height: 85vh;

}

.welcomeHolder{

    /* width: 30%; */
    margin-top: -7%;
    /* margin-left: 2.5%; */
    border: solid black 1px;


}
